[Desktop Entry]
Version=1.0
Name=Univalent Hello
GenericName=System Setting Tool
GenericName[ja]=システム設定ツール
Comment=System setting tool written in bash.
Comment[ja]=Bashで記述されたシステム設定ツール
Exec=univalent-hello
StartupNotify=true
Terminal=false
Icon=univalent
Type=Application
Categories=System;Utility;
